@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-Black.woff");
}

.about {
    font-family: helvetica, sans-serif;
    font-kerning: auto;
    font-weight: bolder;
    font-size: 400%;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.essay {
    font-size: 300%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    color: rgb(5, 24, 200);
    font-family: helvetica, sans-serif;
    font-kerning: auto;
    font-weight: 500;
}









