
.about {
    font-family: helvetica, sans-serif;
    font-weight: bolder;
    font-size: 400%;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.essay {
    font-size: 300%;
    padding: 5% 15% 0 20%;
    color: darkblue;
    font-family: helvetica, sans-serif;
    font-weight: 750;
}









