@font-face {

    font-family: Gilroy-Heavy;
    src: url("Gilroy-Heavy.ttf");
}


@font-face {

    font-family: Gilroy-Black;
    src: url("Gilroy-Black.ttf");
}


@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("Gilroy-ExtraBold.ttf");
}

body {
    background-color: rgb(250, 250, 255);
}

.Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("cool-background2.svg");
    background-size: cover;

}

.about {

    font-family: Gilroy-Heavy, sans-serif;
    font-size: 400%;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 1px white, 0 0 2px black;
}

@media only screen and (max-width: 700px) {

    .about {
        text-shadow: 0 0 1px white, 0 0 4px blue;
    }

}

.about:hover {
    text-shadow: 0 0 1px white, 0 0 4px blue;
}


.essay {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 6vmin;
    padding: 0 20%;
    color: darkblue;
    font-family: Gilroy-Black, sans-serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: Gilroy-ExtraBold, sans-serif;
    height: 90%;

}

.essay2 {
    display: flex;
    padding: 5%;
}

.essay2 img {

    object-fit: cover;
    margin: auto;
    width: 65%;
}


.essay3 {
    display: flex;
    width: 65%;
    padding: 5%;
    font-size: 5vmin;
    background-color: darkblue;
    color: #ffffff;
    line-height: 125%;
}

.essay4 {
    margin: auto;
    text-align: center;
}









