html, body {
    overflow: hidden;
}

.hero {
    background: darkblue;
    transform: skewY(4deg);
    transform-origin: 100%;
    margin-top: 7%
}

.sign {
    font-size: 450%;
    color: white;
    font-family: sans-serif;
    transform: skewY(-4deg);
    padding: 15% 25% 1.5%;
    font-weight: bolder;
}

.sign2 {
    font-size: 125%;
    color: aliceblue;
    font-family: sans-serif;
    transform: skewY(-4deg);
    padding-bottom: 5%;
    padding-right: 25%;
    padding-left: 25%;
}

.form {
    font-family: sans-serif;
    transform: skewY(-4deg);
    padding-right: 25%;
    padding-left: 25%;
    padding-bottom: 25%;
    width: 1000px;
    height: 100px;
}

.emailinput {

    height: 40px;
    width: 400px;
    font-size: 150%;
    border-color: white;
    transition: 1s;
    outline: none;
}

.emailinput.on:valid {
    border: 2px solid rgba(10, 255, 10, 0.85);
    background-color: rgb(200, 255, 200);


}

.emailinput.on:invalid {
    border: 2px solid rgba(255, 10, 10, 0.85);
    background-color: rgb(252, 200, 200);
}


#submitBtn {

    height: 42px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    font-size: 150%;
    margin-left: 2%;
}

#submitBtn.on {

    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0.75);
    border-style: solid;

}

::-webkit-input-placeholder {
    padding: 1%;
}

#submitBtn.on:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(5, 24, 200);
    cursor: pointer;
}

