html, body {
  overflow: hidden;
}

.hero {
    background:rgb(5, 24, 200);
    transform:  skewY(4deg);
    transform-origin: 100%;
    margin-top: 7%;


}

.sign
{
  font-size: 450%;
  color: aliceblue;
  font-family: sans-serif;
  transform: skewY(-4deg);
    padding: 15% 25% 1.5%;
    font-weight: bolder;
}

.sign2
{  font-size: 125%;
  color: aliceblue;
  font-family: sans-serif;
  transform: skewY(-4deg);
  padding-bottom: 5%;
  padding-right: 25%;
  padding-left: 25%;
}
.form
{
  font-family: sans-serif;
  transform: skewY(-4deg);
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 25%;
  width: 1000px;
  height: 100px;
}

#emailinput {

    height: 40px;
    width: 400px;
    font-size: 150%;

}


button
{

  height: 42px;
  color: white;
  background-color: rgba(0, 0, 0, 0) ;
  font-size: 150%;
  border-style:solid;
  margin-left:1%;
}

::-webkit-input-placeholder { padding:5px;
}

button:hover
{

  background-color: rgb(255, 255, 255) ;
  color:rgb(5, 24, 200);
  cursor: pointer;
}

