@font-face {
    font-family: Gilroy-Bold;
    src: url("Gilroy-Bold.ttf");
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #000e8d;
        transform: scale(0.5);
        margin: auto;
    }
}


body {
    font-family: 'Gilroy-Bold', sans-serif;
    margin-top: 1vh;
    overflow: hidden;
    cursor: default;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #000e8d;
    transform: skewY(4deg);
    transform-origin: top left;
    width: 99vw;
    height: 99vh;
    justify-content: center;
    align-items: center;
}

.sign {

    width: 600px;
    font-size: 10vh;
    color: white;
    transform: skewY(-4deg);
}

.sign2 {
    width: 600px;
    font-size: 125%;
    color: white;
    transform: skewY(-4deg);
    padding: 1% 0 5% 0;
}

.form {
    transform: skewY(-4deg);
    width: 600px;
    height: 100px;
}

.emailinput {

    height: 40px;
    width: 400px;
    font-size: 150%;
    border-color: white;
    transition: 1s;
    outline: none;
}

.emailinput.on:valid {
    border: 2px solid rgba(10, 255, 10, 0.90);
    background-color: rgb(220, 255, 220);


}

.emailinput.on:invalid {
    border: 2px solid rgba(255, 10, 10, 0.90);
    background-color: rgb(252, 220, 220);
}


#submitBtn {

    height: 42px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    font-size: 150%;
    margin-left: 2%;
    cursor: pointer;
}

#submitBtn.on {

    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0.75);
    border-style: solid;

}

::-webkit-input-placeholder {
    padding: 1%;
}

#submitBtn.on:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(5, 24, 200);
}

