@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

body{
    font-family: 'Inter', sans-serif;
    margin-top: 1vh;
    overflow: hidden;
    cursor: default;
}

.hero {
    background-color: #000e8d;
    transform: skewY(4deg);
    transform-origin: 0;
    padding: 10% 25% 100% 25%;

}

.sign {

    width: 500px;
    font-size: 10vh;
    color: white;
    transform: skewY(-4deg);

}

.sign2 {
    font-size: 125%;
    color: white;
    transform: skewY(-4deg);
    padding: 2.5% 0 10% 0;

}

.form {
    transform: skewY(-4deg);
    width: 600px;
    height: 100px;
    //background-color: black;
}

.emailinput {

    height: 40px;
    width: 400px;
    font-size: 150%;
    border-color: white;
    transition: 1s;
    outline: none;
}

.emailinput.on:valid {
    border: 2px solid rgba(10, 255, 10, 0.90);
    background-color: rgb(220, 255, 220);


}

.emailinput.on:invalid {
    border: 2px solid rgba(255, 10, 10, 0.90);
    background-color: rgb(252, 220, 220);
}


#submitBtn {

    height: 42px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    font-size: 150%;
    margin-left: 2%;
    cursor: pointer;
}

#submitBtn.on {

    transition: 0.5s;
    border-color: rgba(255, 255, 255, 0.75);
    border-style: solid;

}

::-webkit-input-placeholder {
    padding: 1%;
}

#submitBtn.on:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(5, 24, 200);
}

