
.animated_text {
    --color-of-text: #000e8d;
    position: relative;
}

.animated_text a {
    position: absolute;
    width:  100%;
    height: 20%;
    z-index: 1;
}

.animated_text a:nth-child(1) {

    clip-path: polygon(0 0, 100% 0, 50% 50%);
}

.animated_text a:nth-child(2) {

    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}

.animated_text a:nth-child(3) {

    clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}

.animated_text a:nth-child(4) {

    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.animated_text a:hover {

    clip-path: none;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
}

.animated_text a:nth-child(1):hover ~ .text:before {
    --from: circle(0% at 50% 0%);
    --to: circle(150% at 0% 50%);
    -webkit-animation: textanim 1s forwards;
    animation: textanim 1s forwards;
}

.animated_text a:nth-child(2):hover ~ .text:before {
    --from: circle(0% at 150% 50%);
    --to: circle(100% at 50% 50%);
    -webkit-animation: textanim 1s forwards;
    animation: textanim 1s forwards;
}

.animated_text a:nth-child(3):hover ~ .text:before {
    --from: circle(0% at 50% 100%);
    --to: circle(150% at 0% 50%);
    -webkit-animation: textanim 1s forwards;
    animation: textanim 1s forwards;
}

.animated_text a:nth-child(4):hover ~ .text:before {
    --from: circle(0% at 0% 50%);
    --to: circle(150% at 0% 50%);
    -webkit-animation: textanim 1s forwards;
    animation: textanim 1s forwards;
}

.text {
    color: transparent;
    -webkit-text-stroke: 1px var(--color-of-text);

    //font-size: 10vmin;


}

.text:before {
    content: attr(data-text);
    position: absolute;
    -webkit-font-smoothing: antialiased;
}

@keyframes textanim {
    0% {

        clip-path: var(--from);
    }
    100% {

        clip-path: var(--to);
        color: var(--color-of-text);
    }
}
