@font-face {
    font-family: Gilroy-Black;
    src: url("Gilroy-Black.ttf");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("Gilroy-ExtraBold.ttf");
}

@font-face {

    font-family: Gilroy-SemiBold;
    src: url("Gilroy-SemiBold.ttf");
}

@font-face {

    font-family: Gilroy-Heavy;
    src: url("Gilroy-Heavy.ttf");
}

#logo {

    top: 1vmin;
    left: 1vmin;
    width: 15vmin;
    position: absolute;

}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000e8d;
    padding: 1% 1%;
    font-size: 150%;
    text-decoration: none;
    font-family: Gilroy-ExtraBold, sans-serif;
    transition-duration: 0.35s;
}

nav a:hover {
    background-color: #000e8d;
    color: white;
}

#slogan {

    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    overflow: hidden;
}

#slogan div {

    font-family: Gilroy-Black, sans-serif;
    font-size: 600%;
    color: #000e8d;
    //color: transparent;
    letter-spacing: 0.1vw;
    align-self: center;
    position: relative;
}

#slogan div:after {
    color: white;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}


#slogan div:after {
    animation: slogan 1.5s alternate 2;
}

@keyframes slogan {
    0%,25%{
        transform: scaleX(0);
        transform-origin: left;
    }

    25% {
        background: rgba(0, 14, 141, 0.95);
        transform: scaleX(0);
        transform-origin: left;

    }

    75%, 100% {
        background: rgba(0, 14, 141, 0.99);
        transform: scaleX(1);
        transform-origin: left;
    }


}
#slogan div {
    animation: mongo steps(1, end) 1.5s ;
}

@keyframes mongo {

    0% {
        color: transparent;
    }
    100% { color: rgb(0, 14, 141); }
}


video {

    object-fit: cover;
    width: 100vw;
    height: 99vh;
    position: absolute;

}


#btn {

    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;

}

button {
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.2);
    color: rgb(255, 255, 255);
    border: medium solid;
    font-size: 250%;
    padding: 1% 1.5%;
    cursor: pointer;
}

#main {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    font-size: 2.5vw;
    font-family: Gilroy-Bold, sans-serif;
    color: #000e8d;
}

.skate img, .ath img {

    padding: 0 1vw 0 5vw;
}

.skate .a, .ath .a {

    padding-top: 15%;
}

.foot img, .bask img {

    padding: 0 5vw 0 1vw;
}

.foot .a, .bask .a {
    padding-top: 75%;
}


.skate, .ath {
    background-color: chartreuse;
    display: flex;
    min-width: 50vw;
    max-height: 100vh;
}

.foot, .bask {
    background-color: purple;
    display: flex;
    justify-content: flex-end;
    min-width: 50vw;
    max-height: 100vh;
}

#main img {

    transition: transform 1000ms;
    transform: scale(0.70);


}

#main img:hover {

    transition: transform 1000ms;
    transform: scale(0.90);

}
