@font-face {
    font-family: Gilroy-Black;
    src: url("Gilroy-Black.ttf");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("Gilroy-ExtraBold.ttf");
}

@font-face {

    font-family: Gilroy-SemiBold;
    src: url("Gilroy-SemiBold.ttf");
}

@font-face {

    font-family: Gilroy-Heavy;
    src: url("Gilroy-Heavy.ttf");
}

#logo {

    height: 100px;
    position: absolute;

}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000e8d;
    padding: 1% 1%;
    font-size: 175%;
    text-decoration: none;
    font-family: Gilroy-ExtraBold, sans-serif;
    transition-duration: 0.35s;
}

nav a:hover {
    background-color: #000e8d;
    color: white;

}

#slogan {

    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    overflow: hidden;
}

#slogan div {

    font-family: Gilroy-Black, sans-serif;
    font-size: 600%;
    color: #000e8d;
    letter-spacing: 0.1vw;
    text-align: center;
}

video {

    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;

}


#btn {

    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;

}

button {
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.2);
    color: rgb(255, 255, 255);
    border: medium solid;
    font-size: 250%;
    padding: 1% 1.5%;
    cursor: pointer;
}

#main {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    font-size: 2.5vw;
    font-family: Gilroy-Bold, sans-serif;
    color: #000e8d;
}

.skate img, .ath img {

    padding: 0 1vw 0 5vw;
}

.skate .a, .ath .a {

    padding-top: 15%;
}

.foot img, .bask img {

    padding: 0 5vw 0 1vw;
}

.foot .a, .bask .a {
    padding-top: 75%;
}


.skate, .ath {
    background-color: chartreuse;
    display: flex;
    min-width: 50vw;
    max-height: 100vh;
}

.foot, .bask {
    background-color: purple;
    display: flex;
    justify-content: flex-end;
    min-width: 50vw;
    max-height: 100vh;
}

img {

    //transition: width 1000ms, height 1000ms, transform 1000ms;
    transform: scale(0.70);
    //width: 400px;

}

img:hover {

    //transition: width 1000ms, height 1000ms, transform 1000ms;
    transform: scale(0.90);

}
