@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@font-face {
    font-family: Gilroy-Black;
    src: url("Gilroy-Black.ttf");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("Gilroy-ExtraBold.ttf");
}

@font-face {

    font-family: Gilroy-SemiBold;
    src: url("Gilroy-SemiBold.ttf");
}

@font-face {

    font-family: Gilroy-Heavy;
    src: url("Gilroy-Heavy.ttf");
}

#blue {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkblue;
    cursor: none;

}

#blue.next {
    width: 0;
    height: 0;
    background-color: transparent;

}

#blue.color_drop {
    animation: animation1 2s ease-out 1;
    background-color: transparent;
}

@keyframes animation1 {
    0% {
        background-color: darkblue;
    }

    75% {
        background-color: darkblue;
    }

    100% {
        background-color: transparent;
    }

}


#logo {
    object-fit: cover;
    position: absolute;
    width: 30vmin;
    top: 38%;
    left: 43%;

}

#logo.move_diagonal {
    object-fit: cover;
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    width: 15vmin;
    animation: dig 2s ease-in-out 1;
}

#logo.next {
    object-fit: cover;
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    width: 15vmin;
}


@keyframes dig {

    0% {
        position: absolute;
        width: 30vmin;
        top: 38%;
        left: 43%;
    }
    100% {
        position: absolute;
        top: 1vmin;
        left: 1vmin;
        width: 15vmin;
    }
}


nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000e8d;
    padding: 1% 1%;
    font-size: 150%;
    text-decoration: none;
    font-family: Gilroy-ExtraBold, sans-serif;
    transition-duration: 0.35s;
}

nav a:hover {
    background-color: #000e8d;
    color: white;

}

#slogan {

    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    overflow: hidden;
}

#one, #two, #three {
    font-size: 0;
}


#one.faint_color, #two.faint_color, #three.faint_color {

    font-family: Gilroy-Black, sans-serif;
    font-size: 600%;
    color: #000e8d;
    letter-spacing: 0.1vw;
    align-self: center;
    position: relative;
    animation: mongo steps(1, end) 1.7s;

}


#one.blue_strip:after, #two.blue_strip:after, #three.blue_strip:after {

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: slogan 1.35s ease-in-out alternate 2;
    opacity: 1;
    cursor: none;


}
#one.og, #two.og, #three.og {

    font-family: Gilroy-Black, sans-serif;
    font-size: 600%;
    color: #000e8d;
    letter-spacing: 0.1vw;
    align-self: center;
    position: relative;
}

@keyframes mongo {

    0% {
        color: transparent;
    }
    100% {
        color: rgb(0, 14, 141);
    }
}

@keyframes slogan {
    0% {


        transform: scaleX(0);
        transform-origin: left;
    }

    25% {

        background: rgba(0, 14, 141);
        transform: scaleX(0);
        transform-origin: left;

    }

    75%, 100% {


        background: rgba(0, 14, 141);
        transform: scaleX(1);
        transform-origin: left;
    }


}

video {

    object-fit: cover;
    width: 100vw;
    height: 99vh;
    position: absolute;

}


#btn {

    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;

}

button {
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.2);
    color: rgb(255, 255, 255);
    border: medium solid;
    font-size: 250%;
    padding: 1% 1.5%;
    cursor: pointer;
}

#main {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    font-size: 3vw;
    font-family: Gilroy-Bold, sans-serif;
}


.skate, .ath {

    display: flex;
    min-width: 50vw;
    max-height: 100vh;
}

.foot, .bask {

    display: flex;
    justify-content: flex-end;
    min-width: 50vw;
    max-height: 100vh;
    overflow: hidden;
}

.skate .animated_text, .ath .animated_text {
    padding-top: 20%;

}

.foot .animated_text, .bask .animated_text {
    padding-top: 65%;
}



@media (max-width: 1100px) {

    .skate img, .ath img {
        object-fit: cover;
        width: 100%;
        height: 100%;

    }

    .foot img, .bask img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .skate .animated_text, .ath .animated_text {
        font-size: 0;
    }


    .foot .animated_text, .bask .animated_text {
        font-size: 0;
    }
}

.image {
    opacity: 0;
}

.image.o:hover {

    transition: transform 1000ms;
    transform: scale(0.90);
    cursor: none;

}

.image.o {
    transition: transform 1000ms;
    transform: scale(0.75);
    opacity: 1;

}

.image.meow {
    animation: smoke ease-in 1000ms;

}

@keyframes smoke {
    0% {
        opacity: 0;
        transform: scale(0.90);
    }
    100% {
        opacity: 1;
        transform: scale(0.75);
    }
}


.footer img {
    margin-top: 60vh;
    width: 15vmax;
    margin-left: 80vw;
    position: absolute;
}

body {

    cursor:  url("cur.png") 0 0, auto;
    background-color: rgb(253, 253, 255);
}