@font-face {
    font-family: Gilroy-Black;
    src: url("Gilroy-Black.ttf");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("Gilroy-ExtraBold.ttf");
}

@font-face {

    font-family: Gilroy-SemiBold;
    src: url("Gilroy-SemiBold.ttf");
}

@font-face {

    font-family: Gilroy-Heavy;
    src: url("Gilroy-Heavy.ttf");
}


body {

    cursor: url("cur.png") 0 0, auto;
    background-color: rgb(250, 250, 255);
}


#blue {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
    cursor: none;

}

#blue.next {
    width: 0;
    height: 0;
    background-color: transparent;
}

#blue.color_drop {
    animation: animation1 2s ease-out 1;
    background-color: transparent;
}

@keyframes animation1 {
    0% {
        background-color: darkblue;
    }

    75% {
        background-color: darkblue;
    }

    100% {
        background-color: transparent;
    }

}


#logo {
    object-fit: cover;
    position: absolute;
    width: 30vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo.move_diagonal {
    object-fit: cover;
    position: absolute;
    width: 15vmin;
    animation: dig 2s ease-in-out 1;
    top: 0;
    left: 0;
    transform: translate(7.5%, 7.5%);
}

#logo.next {
    object-fit: cover;
    position: absolute;
    width: 15vmin;
    top: 0;
    left: 0;
    transform: translate(7.5%, 7.5%);
}


@keyframes dig {

    0% {
        position: absolute;
        width: 30vmin;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        width: 15vmin;
        top: 0;
        left: 0;
        transform: translate(7.5%, 7.5%);
    }
}


nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000e8d;
    padding: 1% 1%;
    font-size: 150%;
    text-decoration: none;
    font-family: Gilroy-ExtraBold, sans-serif;
    transition-duration: 0.35s;
}

nav a:hover {
    background-color: #000e8d;
    color: white;
}

#slogan {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#one, #two, #three {
    font-size: 0;
}


#one.faint_color, #two.faint_color, #three.faint_color {
    font-family: Gilroy-Black, sans-serif;
    font-size: 15vmin;
    color: #000e8d;
    letter-spacing: 0.1vw;
    position: relative;
    animation: mongo steps(1, end) 1.7s;
}

#one.blue_strip:after, #two.blue_strip:after, #three.blue_strip:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: slogan 1.35s ease-in-out alternate 2;
    opacity: 1;
}

#one.og, #two.og, #three.og {
    font-family: Gilroy-Black, sans-serif;
    font-size: 15vmin;
    text-align: center;
    color: #000e8d;
    letter-spacing: 0.1vw;
    position: relative;
}

@keyframes mongo {

    0% {
        color: transparent;
        cursor: none;
    }
    100% {
        color: #000e8d;
    }
}

@keyframes slogan {
    0% {

        transform: scaleX(0);
        transform-origin: left;
        cursor: none;
    }

    25% {

        background: rgba(0, 14, 141);
        transform: scaleX(0);
        transform-origin: left;
    }

    75%, 100% {

        background: rgba(0, 14, 141);
        transform: scaleX(1);
        transform-origin: left;
    }


}

video {

    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;

}


#btn {

    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;

}

button {
    margin: auto;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.2);
    color: rgb(255, 255, 255);
    border: medium solid;
    font-size: 250%;
    padding: 1% 1.5%;
    cursor: pointer;
}

#main {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    font-size: 3vw;
    font-family: Gilroy-Bold, sans-serif;
}

.skate, .ath {
    display: flex;
    min-width: 50vw;
    max-height: 100vh;
}

.foot, .bask {

    display: flex;
    justify-content: flex-end;
    min-width: 50vw;
    max-height: 100vh;
    overflow: hidden;
}

.skate .animated_text, .ath .animated_text {
    padding-top: 20%;

}

.foot .animated_text, .bask .animated_text {

    padding-top: 65%;
}


@media (max-width: 1100px) {

    .skate img, .ath img {
        object-fit: cover;
        width: 100%;
        height: 100%;

    }

    .foot img, .bask img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .skate .animated_text, .ath .animated_text {
        font-size: 0;
    }


    .foot .animated_text, .bask .animated_text {
        font-size: 0;
    }
}

.image {
    opacity: 0;
}

.image.o:hover {

    transition: transform 1000ms;
    transform: scale(0.90);
    cursor: none;

}

.image.o {
    transition: transform 1000ms;
    transform: scale(0.75);
    opacity: 1;

}

.image.meow {
    animation: smoke ease-out 1000ms;

}

@keyframes smoke {
    0% {
        opacity: 0;
        transform: scale(0.90);
    }
    100% {
        opacity: 1;
        transform: scale(0.75);
    }
}


.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: "Roboto Thin", sans-serif;
    color: #000e8d;
    font-size: 12vw;
}


.dot {
    font-size: 200%;
}


.footer1 {
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
    align-items: baseline;


}


.footer2 {

    display: flex;
    padding: 0 2%;
    justify-content: space-around;


}

.footer-image {

    padding: 0 1% 1% 1%;
    display: flex;
    Justify-content: flex-end;
}
