
@font-face {
    font-family: Gilroy-Black;
    src: url("Gilroy-Black.ttf");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("Gilroy-ExtraBold.ttf");
}

@font-face {

    font-family: Gilroy-SemiBold;
    src: url("Gilroy-SemiBold.ttf");
}

@font-face {

    font-family: Gilroy-Heavy;
    src: url("Gilroy-Heavy.ttf");
}








body {
    cursor: url("cur.png") 0 0, auto;
}


#blue {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: darkblue;
    cursor: url("curse.png") 0 0, auto;
}

#blue.next {
    display: none;
}

#blue.color_drop {
    -webkit-animation: color_drop_animation 2s ease-out 1;
    animation: color_drop_animation 2s ease-out 1;
    cursor: url("cur.png") 0 0, auto;
    background: none;
}

@-webkit-keyframes color_drop_animation {
    0% {
        background: darkblue;
    }

    75% {
        background: darkblue;
        cursor: url("cur.png") 0 0, auto;
    }

    100% {
        background: none;
        cursor: url("cur.png") 0 0, auto;
    }
}

@keyframes color_drop_animation {
    0% {
        background: darkblue;
    }

    75% {
        background: darkblue;
        cursor: url("cur.png") 0 0, auto;
    }

    100% {
        background: none;
        cursor: url("cur.png") 0 0, auto;
    }
}


#logo {
    position: absolute;
    width: 30vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo.move_diagonal {
    position: absolute;
    width: 15vmin;
    -webkit-animation: dig 2s ease-in-out 1;
    animation: dig 2s ease-in-out 1;
    top: 0;
    left: 0;
    transform: translate(7.5%, 7.5%);
}

#logo.next {
    position: absolute;
    width: 15vmin;
    top: 0;
    left: 0;
    transform: translate(7.5%, 7.5%);
}


@-webkit-keyframes dig {

    0% {
        position: absolute;
        width: 30vmin;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        width: 15vmin;
        top: 0;
        left: 0;
        transform: translate(7.5%, 7.5%);
    }

}


@keyframes dig {

    0% {
        position: absolute;
        width: 30vmin;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: absolute;
        width: 15vmin;
        top: 0;
        left: 0;
        transform: translate(7.5%, 7.5%);
    }

}


nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000e8d;
    padding: 2% 1%;
    font-size: 150%;
    text-decoration: none;
    font-family: Gilroy-ExtraBold, sans-serif;
    transition-duration: 0.35s;
}

nav a:hover {
    background-color: #000e8d;
    color: white;
}

#slogan {
    padding-top: 25vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

}

#one, #two, #three {
    font-size: 0;
}


#one.faint_color, #two.faint_color, #three.faint_color {
    font-family: Gilroy-Black, sans-serif;
    font-size: 12vmin;
    text-align: center;
    color: #000e8d;
    letter-spacing: 0.1vw;
    position: relative;
    -webkit-animation: mongo steps(1, end) 1.7s;
    animation: mongo steps(1, end) 1.7s;
}

#one.blue_strip:after, #two.blue_strip:after, #three.blue_strip:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    -webkit-animation: slogan 1.35s ease-in-out alternate 2;
    animation: slogan 1.35s ease-in-out alternate 2;
    opacity: 1;
}

#one.og, #two.og, #three.og {
    font-family: Gilroy-Black, sans-serif;
    font-size: 12vmin;
    text-align: center;
    color: #000e8d;
    letter-spacing: 0.1vw;
    position: relative;
}

@-webkit-keyframes mongo {
    0% {
        color: transparent;
        cursor: none;
    }
    100% {
        color: #000e8d;
    }
}

@keyframes mongo {
    0% {
        color: transparent;
        cursor: none;
    }
    100% {
        color: #000e8d;
    }
}

@-webkit-keyframes slogan {
    0% {
        transform: scaleX(0);
        transform-origin: left;
        cursor: none;
    }

    25% {
        background: rgba(0, 14, 141);
        transform: scaleX(0);
        transform-origin: left;
    }

    75%, 100% {
        background: rgba(0, 14, 141);
        transform: scaleX(1);
        transform-origin: left;
    }
}

@keyframes slogan {
    0% {
        transform: scaleX(0);
        transform-origin: left;
        cursor: none;
    }

    25% {
        background: rgba(0, 14, 141);
        transform: scaleX(0);
        transform-origin: left;
    }

    75%, 100% {
        background: rgba(0, 14, 141);
        transform: scaleX(1);
        transform-origin: left;
    }
}

video {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
}


#btn {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
}

button {
    margin: auto;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    background-color: rgba(1, 1, 1, 0.2);
    color: rgb(255, 255, 255);
    border: medium solid;
    font-size: 6vmin;
    padding: 1% 1.5%;
    cursor: pointer;
}

#main {

    overflow-x: scroll;

    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: repeat(2, 100vw);

    -moz-column-gap: 5%;

    column-gap: 5%;

    font-size: 6vmin;
    font-family: Gilroy-Bold, sans-serif;


}

.a {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: repeat(2, 50vw);

}

.b {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: repeat(2, 50vw);
}


.skate {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);

}

.skate img {
    grid-area: 4 / 2 / 19 / 9;
}

.skate .animated_text {
    grid-area: 5 / 9 / 5 / 12;
}

.foot {

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.foot img {
    grid-area: 4 / 6 / 19 / 13;
}

.foot .animated_text {
    grid-area: 17 / 2 / 17 / 4;
}


.ath {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);

}


.bask {

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(20, 1fr);

}

.ath img {
    grid-area: 4 / 2 / 19 / 9;
}

.ath .animated_text {
    grid-area: 5 / 9 / 5 / 12;

}

.bask img {
    grid-area: 4 / 6 / 19 / 13;
}

.bask .animated_text {
    grid-area: 17 / 1 / 17 / 4;
}


.image {
    opacity: 0;
    max-width: 75vw;
    max-height: 75vh;
}

.image.o {

    -o-object-fit: scale-down;

    object-fit: scale-down;
    max-width: 75vw;
    max-height: 75vh;
    transition: transform 1000ms;
    transform: scale(0.9);
    opacity: 1;

}

.image.o:hover {
    -o-object-fit: scale-down;
    object-fit: scale-down;
    transition: transform 1000ms;
    transform: scale(1.0);
    cursor: none;
}

.image.meow {
    -webkit-animation: smoke ease-out 1000ms;
    animation: smoke ease-out 1000ms;

}

@-webkit-keyframes smoke {
    0% {
        opacity: 0;
        transform: scale(1.0);
    }
    100% {
        opacity: 1;
        transform: scale(0.9);
    }
}

@keyframes smoke {
    0% {
        opacity: 0;
        transform: scale(1.0);
    }
    100% {
        opacity: 1;
        transform: scale(0.9);
    }
}


.container {

    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: space-evenly;
    justify-items: center;
    font-size: 18vmin;
    background: black;
    color: #000e8d;
    font-family: "Roboto Light", sans-serif;
}

.footer1 {
    grid-column: 1/4;
    grid-row: 1/2;
}


.footer2 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.footer-image {
    grid-column: 4/5;
    grid-row: 3/4;
}


@media only screen and (max-width: 750px) {

    #main, .a, .b, .skate, .bask, .foot, .ath {
        all: unset;
    }

    #main {
        all:unset;
        overflow: scroll;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        height: 100vh;
    }

    .image {
        all:unset;
        -o-object-fit: scale-down;
        object-fit: scale-down;
        max-width: 50vw;
        transition: transform 1000ms;
        transform: scale(0.9);
        opacity: 1;
    }

    .image.o {
        all:unset;
        -o-object-fit: scale-down;
        object-fit: scale-down;
        max-width: 50vw;
        transition: transform 1000ms;
        transform: scale(0.9);
        opacity: 1;
    }

    .image.o:hover {
        all: unset;
    }

    .skate .animated_text, .ath .animated_text {
        display: none;
    }


    .foot .animated_text, .bask .animated_text {
        display: none;
    }


    .container {

        font-size: 10vmin;
    }

    .footer-image {
        display: none;
    }

}


@media (max-height: 600px) {

    .skate .animated_text, .ath .animated_text {
        display: none;
    }


    .foot .animated_text, .bask .animated_text {
        display: none;
    }

}

@media only screen and (max-width: 1300px) and (min-width: 750px) {

    .skate, .bask, .ath, .foot {
        all: unset;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .image.o {
        transform: scale(0.9);
    }


    .skate .animated_text, .ath .animated_text {
        display: none;
    }


    .foot .animated_text, .bask .animated_text {
        display: none;
    }

}