@font-face {

    font-family: Gilroy-SemiBold;
    src: url("Gilroy-SemiBold.ttf");
}


@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("Gilroy-ExtraBold.ttf");
}


body {
    font-family: Gilroy-SemiBold, sans-serif;
    background-color: rgba(250, 250, 255);
}

body::-webkit-scrollbar {
    display: none;
}

.H {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: center;
    font-size: 15vmin;
    font-family: Gilroy-ExtraBold, sans-serif;
}

.aa {
    padding: 1%;
    display: flex;
    justify-content: center;
    color: darkblue;

}

.bb {
    padding: 1%;
    display: flex;
    justify-content: center;
    color: darkblue;

}

.price_plan_area {
    position: relative;
    z-index: 1;
    margin-top: 5em;
}

.single_price_plan {
    position: relative;
    z-index: 1;
    border-radius: 0.5rem 0.5rem 0 0;
    transition-duration: 500ms;
    background-color: #ffffff;
    padding: 4rem 4rem;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single_price_plan {
        padding: 3rem;
    }
}

@media only screen and (max-width: 575px) {
    .single_price_plan {
        padding: 3rem;
    }
}


.single_price_plan .title {
    text-transform: capitalize;
    transition-duration: 500ms;
    margin-bottom: 2rem;

}

.single_price_plan .title h3 {
    font-size: 1.5rem;
    color: navy;
}

.single_price_plan .title p {
    line-height: 1;
    font-size: 1rem;

}

.single_price_plan .price {
    margin-bottom: 1.5rem;
}

.single_price_plan .price h4 {
    position: relative;
    z-index: 1;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, hotpink, mediumblue);
}

.single_price_plan .description {
    position: relative;
    margin-bottom: 1.5rem;
}

.single_price_plan .description p {
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

.single_price_plan .description p i {
    color: #2ecc71;
    margin-right: 0.5rem;
}

.single_price_plan .description p .lni-circle-minus {
    color: #e74c3c;
}

.single_price_plan.active,
.single_price_plan:hover,
.single_price_plan:focus {
    box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
}

.single_price_plan .side-shape img {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    z-index: -2;

}

.icon {
    margin: auto;
    width: 80px;
    height: 60px;
    cursor: pointer;
    animation: amm 2s infinite;
}

.arrow {
    width: 90%;
    height: 10px;
    background-color: darkblue;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
    transform: rotate(90deg);
}

.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: darkblue;

}

.arrow::after {
    top: -12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}

.arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

@keyframes amm {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

